.logo {
  width: 100px;
  height: auto;
  border-radius: 100px;
}

.colorBoton {
  background-color: #fa3d3b;
}

.colorHover button:hover {
  background-color: rgb(255, 92, 92);
}

.componentes-acciones {
  display: flex;
  justify-content: space-between;
}

.componentes-acciones-vaciar {
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--clr-gray);
  padding: 1rem;
  color: var(--clr-main);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

:root {
  --clr-main: #4b33a8;
  --clr-main-light: #785ce9;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #961818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
  margin: 0;
  padding: 0;
}

aside {
  padding: 2rem;
  padding-right: 0;
  color: var(--clr-white);
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: var(--clr-white);
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo-principal {
  color: var(--clr-main);
  margin-bottom: 2rem;
}

.componentes-agregados .card-img-top {
  max-width: 100%;
  height: auto;
}
